.cta-block-main{background:#0B1014;border-radius:16px;padding:100px 100px;margin:100px 0;position:relative;display:flex;align-items:center;gap:30px;justify-content:space-between;}
.cta-block-main::after{content:"";background-image:url(../images/cta-round-image.svg);background-repeat:no-repeat;width:425px;height:100%;position:absolute;top:0;right:24px;}
.cta-block-main::before{content:"";background-image:url(../images/cta-half-round-image.svg);background-repeat:no-repeat;background-size:contain;width:90px;height:90px;position:absolute;bottom:0;left:0;}
.cta-block-main .cta-block-content{max-width:730px;position:relative;z-index:9;}
.cta-block-main .cta-block-content .cta-block-heading{margin:0 0 10px 0;color:#FFF;font-size:32px;}
.cta-block-main .cta-block-content .cta-block-description{margin:0;color:rgba(255,255,255,0.8);font-size:20px;}
.cta-block-main .cta-block-buttons{flex-shrink:0;position:relative;z-index:9;}
.cta-block-main .cta-block-buttons .cta-block-buttons-text{background:#FFF;border:none;border-radius:8px;color:#0A0B0C;font-size:18px;line-height:100%;text-align:center;padding:19px 30px;display:table;text-decoration:none;cursor:pointer;font-weight: 400;}
@media only screen and (max-width:1024px){
	.cta-block-main{gap:20px;margin:80px 0;padding:60px;}
}
@media only screen and (max-width:991px){
	.cta-block-main{gap:30px;padding:50px;flex-direction:column;text-align:center;}
    .cta-block-main::after{background-image:url(../images/cta-round-image-mobile.svg);width:140px;height:160px;bottom:0;left:inherit;top: inherit;right: 0;}
    .cta-block-main::before{background-image:url(../images/cta-half-round-image-mobile.svg);width:100px;height:113px;bottom:inherit;left:0;top: 0;}
}
@media only screen and (max-width:767px){
	.cta-block-main{gap:30px;margin:50px 0;padding:40px 30px;}
	.cta-block-main .cta-block-content .cta-block-heading{font-size:24px;line-height:28px;margin: 0 0 15px 0;}
	.cta-block-main .cta-block-content .cta-block-description{font-size:20px;}
    .cta-block-main .cta-block-buttons .cta-block-buttons-text{font-weight: 500;}
}
@media only screen and (max-width:420px){
    .cta-block-main{padding: 30px 30px;}
    .cta-block-main .cta-block-content .cta-block-description {font-size: 18px;}
    .cta-block-main .cta-block-buttons .cta-block-buttons-text{padding: 12px 10px;font-size: 15px;}
}