.features-section-main{background:#F9F9F9;padding:100px 0;width:100vw;position:relative;right:50%;left:50%;margin-left:-50vw!important;margin-right:-50vw!important;}
.features-section-main .features-section-inner{max-width:1108px;margin:0 auto;display:flex;gap:40px;padding-left:24px;padding-right:24px;box-sizing:border-box;align-items: flex-start;}
.features-section-main .features-block-heading{flex-shrink: 0;max-width: 400px;position: -webkit-sticky;position: sticky;top: 30px;overflow: auto;margin-bottom: 150px;}
.features-section-main .features-heading{margin:0 0 30px 0;}
.features-section-main .features-subheading{margin:0;}
.features-section-main .features-block-items{display:grid;grid-template-columns:repeat(2,1fr);gap:15px 40px;}
.features-section-main .features-block-item:nth-child(even){margin-top:60px;}
.features-section-main .features-block-items .features-block-image{background:#FFF;box-shadow:0 4px 20px 0 rgba(0,0,0,0.08);border-radius:10px;padding:20px 20px;}
.features-section-main .features-block-items .features-block-image img{display:block;text-align:center;margin:0 auto;}
.features-section-main .features-block-items .features-block-item-title{margin:35px 0 18px 0;}
.features-section-main .features-block-items .features-block-item-text{margin:0;}
@media only screen and (max-width:1024px){
	.features-section-main{padding:80px 0;}
	.features-section-main .features-section-inner{gap:30px;}
	.features-section-main .features-block-heading{max-width:350px;}
	.features-section-main .features-heading{margin:0 0 25px;}
	.features-section-main .features-block-item:nth-child(2n){margin-top:40px;}
	.features-section-main .features-block-items .features-block-item-title{margin:25px 0 10px;}
	.features-section-main .features-block-items{gap:30px 30px;}
}
@media only screen and (max-width:991px){
	.features-section-main .features-section-inner{flex-direction:column;}
	.features-section-main .features-block-heading{max-width:100%;margin: 0;position: static;}
	.features-section-main .features-heading{margin:0 0 15px;}
}
@media only screen and (max-width:767px){
	.features-section-main .features-section-inner{padding-left:36px;padding-right:36px;}
	.features-section-main{padding:50px 0;}
	.features-section-main .features-block-items{grid-template-columns:repeat(1,1fr);gap:40px;max-width:360px;margin:0 auto;}
	.features-section-main .features-block-item:nth-child(2n){margin-top:0;}
	.features-section-main .features-block-items .features-block-item-title{margin:35px 0 20px;}
	.features-section-main .features-block-items .features-block-image{padding:25px 25px;}
}